@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
	--c-white: white;
	--c-white-light: #f0f2f5;

	--c-primary: #1877f2;
    --c-secondary: #E4E6EB;

    --c-text: #1c1e21;
    --c-border: #dddfe2;

    --c-shadow: rgba(0, 0, 0, 0.2);
    --c-warning: #f02849;
}

body {
	padding: 0px;
	margin: 0px;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	letter-spacing: 0.02em;
	color: var(--c-text);
}

input {
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid var(--c-border);
}

.inp--light {
    background-color: var(--c-white-light);
}

 /* {
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 6px;
    background-color: var(--c-primary);
    color: var(--c-white);
    font-weight: 500;
    border: none;
} */

button, .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
  
.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn--light {
    background-color: white;
    color: var(--c-text);
}

.card {
    box-shadow: 0 1px 5px #00000026;
    border-radius: 6px;
    padding: 12px;
    background-color:var(--c-white);
}

.card + .card {
    margin-top: 24px;
}

.title {
    font-size: 18px;
    font-weight: 500;
}

.form {

}

.form input[type='text'] {
    width: 100%;
}


.form button {
}

.form .error {
    color: var(--c-warning);
    height: 24px;
}

.form label {
    font-size: 17px;
    font-weight: 500;
    display: block;
    margin-bottom: 4px;
}

a, .link {
    color: var(--c-primary);
    font-weight: 500;
    text-decoration: none;
}

hr {
    border-top: 1px solid var(--c-border);
}

.full {
    position: absolute;
    width: 100%;
    height: 100%;
}

.tab-list-row {
    display: flex;
    flex-flow: column;
}

.tab-list-col {
    display: flex;
    flex-flow: row;
}

.tab {
    padding: 6px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.tab-icn {
}

.tab-text {
    margin-left: 12px;
    font-size: 16px;
}

.bi {
    font-size: 22px;
}

.hover-popup {
    position: relative;
}

.popup {
    position: absolute;
    width: 200px;
    background-color: white;
    z-index: 11;
    display: flex;
    flex-flow: column;
    border-radius: 6px;
    border: 1px solid #eee;
    right: 0px;
}

.popup-tab {
    padding: 12px;
}

.avatar {
    vertical-align: middle;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}